.login,
.register {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login{
  margin-bottom: 195px;
}

.register{
  margin-bottom: 150px;
}

.login h2,
.register h2 {
  text-align: center;
  color: #333;
}

.login form,
.register form {
  display: flex;
  flex-direction: column;
}

.login label,
.register label {
  left: 0;
  margin-bottom: 0.5rem;
  margin-right: 20px;
  color: #333;
}

.email{
  margin-left: 35px;
}

.login input,
.register input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button,
.register button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.login button:hover,
.register button:hover {
  background-color: #555;
}