@import "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    @include sm {
        background-color: red;
        max-width: 640px;
    } 
    
    @include md {
        background-color: cornflowerblue;
        max-width: 768px;
    }

    @include lg {
        background-color: coral;
        max-width: 1280px;
    }

    .content{
        height: calc(100vh - 100px);
    }
}